@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body, html {
    background-color: #B31300;
    color: white;
    width: 100vw;
    height: 100vh;
}
main {
    width: 100vw;
    height: 100vh;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #5E251F;
    text-align: center;
    height: 530px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
    overflow: hidden;
}
section#login div#foto {
    display: block;
    background: url('../imagens/pexels-sebastian-palomino-933481-1955134.jpg') no-repeat;
    background-size: cover;
    height: 200px;
}
section#login div#formulario {
    display: block;
    padding: 10px;
}
section#login div#formulario form p {
    margin: 10px;
}
section#login div#formulario form p input {
    display: block;
    text-align: center;
    margin: auto;
}
div#formulario h1 {
    font-size: 1.5em;
    padding: 5px;
}
div#formulario p {
    font-size: .8em;
}
form div.campo1 {
    display: block;
    background: #b312005d;
    border-radius: 10px;
    padding-bottom: 5px;
}
form div.campo1 input {
    display: block;
    border-radius: 10px;
    border: 1px solid black;
    height: 22px;
    
}
form div.campo1 input:hover {
    background: rgb(230, 230, 230);
    transition-duration: .3s;

}
form div.botao input {
    display: block;
    width: 85%;
    height: 40px;
    background-color: #B31300;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}
form div.botao input:hover {
    background-color: #b312006e;
    transition-duration: .5s;
    cursor: pointer;
}